In [3]:
import pandas as pd
import numpy as np

In [18]:
cols = ['col1', 'col2', 'col3', 'col4', 'col5']
rows = ['row1', 'row2', 'row3', 'row4', 'row5']
df = pd.DataFrame(np.random.randint(0,100,size=(5, 5)), columns=cols, index=rows)

In [20]:
df.head()

      col1  col2  col3  col4  col5
row1    81    72    33    25    89
row2    84    39    19    85    55
row3    61    68    76    70    60
row4    36    97    75    84    92
row5    72    48    19    35    69